/** @format */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #1c1c1c;
}
::-webkit-scrollbar-thumb {
  background: #ff6452;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::selection {
  background-color: #504099;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply dark:bg-[#1c1c1c] bg-white dark:duration-300 dark:ease-[cubic-beizer(0.465,0.183,0.153,0.946)] duration-300 ease-[cubic-beizer(0.465,0.183,0.153,0.946)];
  }
}
@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }

  .hoverUnderline {
    position: relative;
  }

  .hoverUnderline::after {
    @apply bg-slate-gray dark:bg-slate-100;
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.35s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  }

  .hoverUnderline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .carousel {
    overflow: hidden;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;                          
  }
  
  .inner {
    white-space: nowrap;
    transition: transform 0.5s;
  }
  
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    background-color: #fff;
  }
  
  .carousel-item-text {
    font-size: 1.15rem;
    padding: 0 30px 0 30px;
    white-space: normal;
  }
  
  .carousel-img {
    width: 250px;
    padding: 0 20px 0 20px;
  }
  
  .carousel-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  } 
  
  .button-arrow {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .indicator-buttons {
    border: none;
    cursor: pointer;
  }
  
  .indicators > button {
    margin: 5px;
    background: none;
  }
  
  .indicator-symbol {
    color: #26343f;
  }
  
  .indicator-symbol-active {
    color: #a3a3a3;
  }

  .buy-now-button{
    background-color: #ff6452;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
